/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 2, 2022, 6:33:51 PM
    Author     : pc
*/

GridPane {
    -fx-background-color: lightblue;
    -fx-font-family: Tahoma;
    -fx-hgap: 20;
}

Label {
    -fx-text-fill: darkblue;
    -fx-padding: 5;
    -fx-font-size: 18;
}

Text.Subject {
    -fx-font-size: 30;
    -fx-text-align: center;
}

Button {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-align: center;
}